.navbar {
  margin-top: -25px;
}

.LiveBlitzRatingCSS {
  color: white;
  font-size: 4rem;
  font-family: "Impact", sans-serif;
}

.BlitzCSS {
  color: red;
  font-family: "Impact", sans-serif;
}

.ChessImg {
  width: 5rem;
  float: left;
  margin-right: 25px;
}

@keyframes glow {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.LiveBlitzRatingCSS::after {
  content: "🔴";
  display: inline-block;
  animation: glow 1s infinite;
  color: #ff0000;
}

.chessDOTcom {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  margin-top: -40px;
  margin-bottom: 25px;
  color: whitesmoke;
}

.chessDOTcom a {
  text-decoration: none;
  color: palevioletred;
}

.HomeSearch {
  text-decoration: none;
  color: white;
}

.homeSearchCSS {
  margin-top: -15px;
  font-size: 1.5rem;
}
