* {
  font-family: "Fira Sans", sans-serif;
}

html body {
  color: white;
  background-image: url("./assets/chesscom.png");
  height: 100v;
}

body .navbar .container {
  display: flex;
  justify-content: center;
}

.cardContainer {
  margin-left: 25px;
}
